<div class="container">
  <div class="card mt-4">
    <div class="card-body">

      <form name="editForm" role="form" [formGroup]="editForm">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy" name="dp" formControlName="dateOfBirth" ngbDatepicker
              #d="ngbDatepicker" [minDate]="minDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
      <hr />
      {{ editForm.get('dateOfBirth')?.value }} 
    </div>
  </div>

</div>